* {
    padding: 0;
    margin: 0;
}

/* Header */
header {
    background: url('../images/about-bg.jpg'), linear-gradient(90.93deg, #000f21 18.18%, rgba(1, 9, 51, 0.3) 64.92%);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
}

p {
    font-family: 'Krub', sans-serif;
    font-weight: 400;
}

.about-banner {
    overflow: hidden;
    margin: 100px 200px;
    font-family: 'Rubik', sans-serif;
}

.about-banner p {
    background-color: rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding: 2px 10px;
    border-left: 3px solid transparent;
    border-image: linear-gradient(to bottom, #FFB629, #FFDA56, #FFD7A6) 1;
    padding: 2px 8px;
    font-weight: 400;
    color: #fff;
}

.about-banner h1 {
    font-weight: 700;
    font-size: 60px;
    color: #fff;
}

@media screen and (min-width:1600px) {
    .about-banner {
        margin: 100px 360px;
    }
}

@media screen and (max-width:1600px) {
    header {
        height: 650px;
    }
}

@media screen and (max-width:780px) {
    .about-banner {
        margin: auto 150px;
    }

    .sub-content h1 {
        font-size: 45px;
    }
}

@media screen and (max-width:580px) {
    header {
        height: max-content;
    }
    .about-banner {
        margin: auto 100px;
    }
}

/* End of header section */

/* About section */

.about {
    margin: 50px 200px 50px 100px;
    display: flex;
    justify-content: center;
    width: auto;
}

.about-content {
    padding: 20px;
}

.approch-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}

.btn-box {
    width: max-content;
    padding: 15px 30px;
    background-color: #F4F4F4;
}

.btn-box:nth-child(1) {
    background-color: #FFB82B;
    color: #fff;
}

#learn {
    justify-content: flex-start;
}

@media screen and (min-width:1600px) {
    .about {
        margin: 50px 360px;
    }
}

@media screen and (max-width:1190px) {
    .about {
        flex-direction: column-reverse;
        margin: 50px 200px;
    }
}

@media screen and (max-width:780px) {
    .about {
        margin: 50px 150px;
    }
    .about img {
        display: none;
    }
}
@media screen and (max-width:580px) {
    .about {
        margin: 50px 100px;
    }
    .approch-btn {
        flex-direction: column;
    }
}

/* End of About section */
