* {
    padding: 0;
    margin: 0;
}

/* Banner section */
header {
    background: url('../images/contact-image.jpg'), linear-gradient(90.93deg, #000f21 18.18%, rgba(1, 9, 51, 0.3) 64.92%);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
}

p {
    font-family: 'Krub', sans-serif;
    font-weight: 400;
}

.contact-banner {
    margin: 100px 200px;
    overflow: hidden;
    font-family: 'Rubik', sans-serif;
}

.contact-banner p {
    background-color: rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding: 2px 10px;
    border-left: 3px solid transparent;
    border-image: linear-gradient(to bottom, #FFB629, #FFDA56, #FFD7A6) 1;
    padding: 2px 8px;
    font-weight: 400;
    color: #fff;
}

.contact-banner h1 {
    font-weight: 700;
    font-size: 60px;
    color: #fff;
}

@media screen and (min-width:1600px) {
    .contact-banner {
        margin: 100px 360px;
    }
}

@media screen and (max-width:1599px) {
    header {
        height: 650px;
    }
}

@media screen and (max-width:780px) {
    .contact-banner {
        margin: 50px 150px;
    }

    .sub-content h1 {
        font-size: 45px;
    }
}

@media screen and (max-width:580px) {
    header {
        height: max-content;
    }

    .contact-banner {
        margin: 50px 100px;
    }
}

/* End of banner section */

/* Contact section */

.contact-section {
    margin: 100px 300px;
    background-color: #091242;
    padding: 100px 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-section span {
    color: #fff;
    text-align: center;
}

.contact-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-head p {
    font-family: 'Krub', sans-serif;
    display: inline;
    background-color: rgba(232, 232, 232, 0.1);
    color: #fff;
    border-left: 3px solid transparent;
    border-image: linear-gradient(to bottom, #FFB629, #FFDA56, #FFD7A6) 1;
    padding: 2px 8px;
    font-size: 14px;
    font-weight: 400;
}

.contact-head h3 {
    text-align: center;
    color: #fff;
    font-size: 35px;
    padding: 15px 0;
    font-weight: 600;
    text-transform: none;
    font-family: 'Rubik', sans-serif;
}

.connect-box {
    display: flex;
    justify-content: space-around;
}

.connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.connect span {
    color: #fff;
}

.connect svg:hover path {
    stroke: #FFB629;
}

.connect span:hover {
    color: #FFB629;
}

/* Submit button */

#submit-btn {
    display: flex;
    justify-content: center;
    grid-column: 1 / span 2;
    cursor: pointer;
}

.submit-message {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 200px;
    height: 60px;
    font-family: 'Krub', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #23212A;
    border: none;
    cursor: pointer;
    background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
    overflow: hidden;
    transition: all 0.4s ease;
}

.submit-message::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    left: 160px;
    top: 30px;
    background: #fff;
    border-radius: 50%;
    transition: all 0.4s ease;
    opacity: 0.5;
}

.submit-message span {
    color: #23212A;
    position: relative;
    z-index: 1;
}

.submit-message:hover::after {
    width: 210px;
    height: 210px;
    top: -45px;
    left: 75px;
    opacity: 1;
}

/* End of submit button */

/* End of contact section */

@media screen and (min-width:1600px) {
    .contact-section {
        margin: 100px 400px;
    }
}

@media screen and (max-width:1190px) {
    .contact-section {
        margin: 100px 200px;
    }

    .connect-box {
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (max-width:780px) {
    .contact-section {
        margin: 150px;
    }
}

@media screen and (max-width:580px) {
    .contact-section {
        margin: 100px;
    }
}