button {
    /* Button */

width: 194px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

position: absolute;
width: 194px;
height: 60px;
left: 0px;
top: 0px;



/* Background */

position: absolute;
width: 194px;
height: 60px;
left: 0px;
top: 0px;

background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);


/* Background */

position: absolute;
width: 194px;
height: 60px;
left: 0px;
top: 0px;

background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);


/* Pattern */

position: absolute;
width: 52px;
height: 52px;
left: 159px;
top: 36px;

background: #FFFFFF;


/* Button Style */

position: absolute;
width: 94px;
height: 22px;
left: 50px;
top: 19px;

font-family: 'Krub';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 135.02%;
/* identical to box height, or 22px */

color: #23212A;


}