* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Krub', sans-serif;
    font-weight: 600;
}

header {
    display: flex;
    position: relative;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}

input::placeholder {
    color: #fff;
    font-family: 'Krub',sans-serif;
}

textarea::placeholder {
    color: #fff;
    font-family: 'Krub',sans-serif;
}

/* Main header */

.head {
    background-color: #091242;
    width: 100%;
    padding: 40px 0px;
    box-sizing: border-box;
}

.subhead {
    display: flex;
    justify-content: space-between;
    margin: auto 100px;
}

.logo {
    opacity: 1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo-icon {
    transform: scale(3.5);
}

.logo-text {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    color: #fff;
    margin: 0;
}

.addressbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 39px;
}

.address {
    display: flex;
    color: #fff;
    font-size: 14px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:1191px) {
    header {
        height: 110vh;
    }
}

@media only screen and (max-width:1190px) {
    header {
        background-size: cover;
        height: 100vh;
    }

    .subhead {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

@media only screen and (max-width:780px) {
    header {
        height: auto;
    }
    .addressbar {
        align-items: flex-start;
    }

    .address {
        flex-direction: column;
    }

    .txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .txt p {
        text-align: center;
    }
}

@media only screen and (max-width:560px) {
    header {
        height: auto;
        overflow: hidden;
    }

    .addressbar {
        flex-direction: column;
        align-items: center;
    }
}

/* Main header ends here */

/* Menu header */

.head-menu {
    background-color: rgba(0, 0, 0, 0.2);
}

.main-menu {
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: flex;
    gap: 30px;
    padding: 10px;
}

.menu ul li {
    list-style: none;
    padding-right: 30px;
    border-right: 1px solid rgba(183, 182, 182, 0.5);
}

.menu ul li:nth-child(5) {
    border-right: none;
}

.menu li a {
    text-decoration: none;
    color: #fff;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.social img {
    padding: 10px;
    cursor: pointer;
}

.btn {
    background-color: #fff;
    padding: 28px 52px;
    cursor: pointer;
}

@media only screen and (max-width:1190px) {
    .main-menu {
        flex-direction: column;
    }
}

@media only screen and (max-width:780px) {
    .menu ul li {
        background-color: rgba(183, 182, 182, 0.5);
        padding: 10px;
    }

    .menu ul li:hover {
        color: #000;
    }
}

@media only screen and (max-width:560px) {
    .links {
        flex-direction: column;
    }

    .btn {
        width: 100vw;
        margin-bottom: 20px;
        text-align: center;
    }
}

/* End of Menu header */

/* Footer section */

footer {
    overflow: hidden;
    margin-top: 30px;
    height: 560px;
    background-color: #091242;
    background-image: url(../images/footer-bg.png);
}

.foot-head {
    width: 100%;
    /* padding: 30px; */
    box-sizing: border-box;
    /* background-color: rgba(255, 255, 255, 0.3); */
}

.foot-head .logo {
    background-color: #091242;
    padding: 45px 60px;
}

.head-foot {
    margin: auto;
    align-items: center;
    position: relative;
}

.foot-box {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    /* align-items: center; */
}

.foot-box .address {
    justify-content: left;
    padding: 30px;
}

.foot-content {
    color: #fff;
    padding: 30px;
    margin-top: 20px;
    font-family: 'Krub', sans-serif;
    font-weight: 400;
}

.foot-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.foot-item h2 {
    color: #fff;
    padding: 30px;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    position: absolute;
    top: 12px;
}

.foot-item ul li {
    list-style: none;
    padding: 10px;
    font-family: 'Krub', sans-serif;
    font-weight: 400;
}

.foot-item li a {
    text-decoration: none;
    color: #fff;
}

.foot-item input {
    padding: 20px;
    background-color: transparent;
    width: 100%;
    border: 1px solid grey;
    outline: none;
}


.foot-item:nth-child(3){
    justify-content: left;
    align-items: center;
}

.social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#send-button {
    background-image: linear-gradient(to right, #FFB629,#FFDA56,#FFD7A6);
    padding: 20px 30px;
}

@media screen and (max-width:1190px) {
    footer {
        background-image: none;
        background-color: #091242;
        height: auto;
        overflow: hidden;
    }
    .subhead.head-foot {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
    }
    .foot-item{
        padding-top: 20px;
    }
    .foot-item h2 {
        position: static;
    }
}

