* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Krub', sans-serif;
    overflow-x: hidden;
}

header {
    overflow: hidden;
    display: flex;
    position: relative;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', sans-serif;
    color: #1c1f35;
    font-weight: 500;
    text-transform: none;
}

h1 {
    font-weight: 600;
    font-size: 50px;
    line-height: 133%;
    text-transform: capitalize;
}

h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 133%;
    text-transform: capitalize;
}

h3 {
    font-size: 35px;
    line-height: 100%;
}

h4 {
    font-size: 30px;
    line-height: 130%;
}

h5 {
    font-size: 25px;
    line-height: 130%;
    font-weight: 400;
}

h6 {
    font-size: 20px;
    line-height: 130%;
}

p {
    font-family: 'Krub', sans-serif;
    color: #666c89;
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    font-weight: 500;
    font-size: 16px;
    line-height: 327%;
}

input,
textarea {
    color: #fff;
    font-family: 'Krub', sans-serif;
    border: none;
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: #fff;
    font-family: 'Krub', sans-serif;
}

.logo p:hover {
    cursor: pointer;
    color: #FFB629;
}

.address .txt:hover p:nth-child(2) {
    color: #FFB629;
}

.address svg path {
    transition: stroke 0.3s ease;
}

.address svg:hover path {
    stroke: #fff;
}

/* Main header */

.head {
    background-color: #091242;
    width: 100%;
    padding: 40px 0px;
    box-sizing: border-box;
}

.subhead {
    display: flex;
    justify-content: space-between;
    margin: auto 200px;
}

.logo {
    opacity: 1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo-icon {
    transform: scale(3.5);
}

.logo-text {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    color: #fff;
    margin: 0;
    font-weight: 600;
    line-height: 100%;
}

.addressbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 39px;
}

.address {
    cursor: pointer;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.txt p {
    color: #fff;
    font-size: 14px;
    line-height: 135%;
}

@media screen and (min-width:1600px) {
    .subhead {
        margin: auto 360px;
    }
}

@media screen and (min-width:1191px) {
    header {
        height: 110vh;
    }
}

@media only screen and (max-width:1190px) {
    header {
        background-size: cover;
        height: 100vh;
    }

    .subhead {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

@media only screen and (max-width:780px) {
    .subhead {
        margin: auto 150px;
    }

    header {
        height: auto;
    }

    .addressbar {
        align-items: flex-start;
    }

    .address {
        flex-direction: column;
    }

    .txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .txt p {
        text-align: center;
    }
}

@media only screen and (max-width:560px) {
    .subhead {
        margin: auto 100px;
    }

    header {
        height: auto;
        overflow: hidden;
    }

    .addressbar {
        flex-direction: column;
        align-items: center;
    }
}

/* Main header ends here */

/* Menu header */

.head-menu {
    background-color: rgba(0, 0, 0, 0.2);
}

.main-menu {
    margin: 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: flex;
    gap: 30px;
    padding: 10px;
}

.menu ul li {
    line-height: normal;
    list-style: none;
    padding-right: 30px;
    border-right: 1px solid rgba(183, 182, 182, 0.5);
}

.menu ul li:nth-child(5) {
    border-right: none;
}

.menu li a {
    text-decoration: none;
    color: #fff;
}

.menu li a:hover {
    text-decoration: none;
    color: #FFB629;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.social img {
    padding: 10px;
    cursor: pointer;
}

.btn {
    background-color: #fff;
    padding: 28px 52px;
    cursor: pointer;
}

.btn:hover {
    background-color: #FFB629;
    color: #1c1f35;
}

@media screen and (min-width:1600px) {
    .main-menu {
        margin: 0 360px;
    }
}

@media only screen and (max-width:1190px) {
    .main-menu {
        flex-direction: column;
    }
}

@media only screen and (max-width:780px) {
    .main-menu {
        margin: 0 150px;
    }

    .menu ul li {
        background-color: rgba(183, 182, 182, 0.5);
        padding: 10px;
    }

    .menu ul li:hover {
        color: #000;
    }
}

@media only screen and (max-width:560px) {
    .main-menu {
        margin: 0 100px;
    }

    .links {
        flex-direction: column;
    }

    .btn {
        width: 100vw;
        margin-bottom: 20px;
        text-align: center;
    }
}

/* End of Menu header */

/* Footer section */

#bg-img {
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 30px;
    height: auto;
    background-color: #091242;
    overflow: hidden;
}

.foot-container {
    background-image: linear-gradient(to top, #091242 85%, rgba(57, 60, 82, 0.5) 15%);
    height: auto;
}

.foot-head {
    margin: auto 200px;
    box-sizing: border-box;
}

.foot-head .logo {
    background-color: #091242;
    cursor: pointer;
    padding: 45px 60px;
}

.head-foot {
    margin: auto;
    align-items: center;
    position: relative;
}

.foot-box {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.foot-box .address {
    justify-content: left;
    padding: 30px;
}

.foot-content p {
    color: #fff;
    padding: 30px;
    margin-top: 20px;
    font-family: 'Krub', sans-serif;
    font-weight: 400;
}

.foot-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.subscribe {
    align-items: start;
    justify-content: start;
}

.subscribe input {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    outline: none;
    border: 1px solid #4E5683;
}

.foot-item h2 {
    color: #fff;
    padding: 30px;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    position: absolute;
    top: 12px;
    cursor: pointer;
}

.foot-item h2:hover {
    color: #FFB629;
}

.foot-item ul li {
    list-style: none;
    padding: 10px;
    font-family: 'Krub', sans-serif;
    font-weight: 400;
    line-height: normal;
}

.foot-item li a {
    text-decoration: none;
    color: #fff;
}

.foot-item li a:hover {
    text-decoration: none;
    color: #FFB629;
}


.foot-item:nth-child(3) {
    justify-content: left;
    align-items: center;
}

.social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#send-button {
    background-image: linear-gradient(to right, #FFB629, #FFDA56, #FFD7A6);
    padding: 20px 40px;
    font-weight: 600;
    width: fit-content;
    cursor: pointer;
    transition: all 0.2s;
}

#send-button:hover {
    background: #fff;
    border-radius: 3px;
}

hr {
    height: 1px;
    background-color: #b9b8b8;
    border: none;
    margin-top: 30px;
}

.license {
    margin: 20px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Krub', sans-serif;
    font-weight: 500;
    line-height: 250%;
}

.license p {
    display: inline-block;
    color: #fff;
}

.lists {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 400;
    color: #8388A7;
    cursor: pointer;
}

.lists span:hover {
    color: #FFDA56;
}

@media screen and (min-width:1600px) {
    .foot-head {
        margin: auto 360px;
    }

    .license {
        margin: 20px 360px;
    }
}

@media screen and (min-width:1191px) {
    .foot-box {
        width: 40%;
    }
}

@media screen and (max-width:1190px) {
    .foot-container {
        background-image: none;
        background-color: #091242;
        height: auto;
        overflow: hidden;
    }

    .subhead.head-foot {
        align-items: flex-start;
    }

    .foot-box {
        width: auto;
        justify-content: start;
        align-items: start;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .foot-item {
        flex-direction: row;
        width: 100%;
    }

    .foot-item h2 {
        padding: 10px;
    }

    .foot-content,
    .head-foot .address {
        padding: 10px;
    }

    .foot-content {
        grid-column: 1 / span 2;
    }

    .foot-content p {
        padding-left: 0;
    }

    .head-foot.address {
        grid-column: 1;
    }

    .foot-head .logo {
        justify-content: start;
        padding: 20px 30px;
        grid-column: 1 / span 2;
    }

    .foot-item ul {
        display: flex;
    }

    .foot-item h2 {
        position: static;
    }

    #send-button {
        width: 100px;
        text-align: center;
    }

    .social-btn .social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .license {
        flex-direction: column;
    }
}

@media only screen and (max-width:950px) {
    .subhead.head-foot {
        align-items: center;
    }

    .foot-item {
        flex-direction: column;
        width: auto;
        align-items: center;
    }

    .foot-head {
        margin: auto 150px;
    }

    .foot-head .logo {
        justify-content: center;
    }

    .foot-content p {
        text-align: center;
    }

    .foot-box .address {
        justify-content: center;
        align-items: center;
    }

    .foot-item ul {
        flex-direction: column;
        align-items: center;
    }

    .subscribe {
        display: flex;
        flex-direction: column;
    }

    .license {
        margin: 20px 100px;
    }
}

/* End of footer section */