/* Testimonial section */

.testimonial {
    margin: auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.test-head {
    width: 100%;
}

.main-test {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.test-head span {
    background-color: rgba(215, 210, 186, 0.3);
    border-left: 3px solid rgb(255, 242, 0);
    padding: 2px 8px;
    font-size: 14px;
    font-weight: 400;
}

.test-content {
    display: flex;
    justify-content: center;
    /* padding: 30px; */
    text-align: justify;
}

.review {
    padding: 40px 60px;
}

.review p {
    font-style: italic;
    font-family: 'Krub', sans-serif;
    font-weight: 400;
}

.review:nth-child(1) {
    background-color: #F4F4F4;
}

.review:nth-child(1) p {
    color: #666C89;
}

.review:nth-child(2) {
    background-color: #091242;
    color: #fff;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.username h5 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
}

.username p {
    font-style: normal;
}

@media screen and (max-width:1190px) {
    .testimonial {
        padding: 40px;
    }
}

@media screen and (max-width:780px) {
    .test-content {
        flex-direction: column;
    }
}

@media screen and (max-width:580px) {
    .quote-img {
        display: none;
    }
}

/* Testtimonial section ends here */